<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mayi_test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>730FB95984E05CC2E9AC3DCAD1C2939DE2DA4FC0</string>
				<key>dateExpires</key>
				<string>2019/7/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T5Y8DM88QR.com.mayi-test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T5Y8DM88QR</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T5Y8DM88QR.com.mayi-test</string>
				</array>
			</dict>
			<key>name</key>
			<string>mayi_test.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fbd46079-724b-401b-a860-8001c144068b</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T5Y8DM88QR</string>
				<key>name</key>
				<string>Bi Bo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
